# This workflow builds a WPF .NET Desktop application
# For more information on GitHub Actions, refer to https://github.com/features/actions

name: .NET WPF Desktop Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET SDK
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    # Restore dependencies
    - name: Restore dependencies
      run: dotnet restore RedFocus.csproj

    # Build the application
    - name: Build
      run: dotnet build RedFocus.csproj --configuration ${{ matrix.configuration }} --no-restore

    # Upload build artifacts
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: RedFocus-${{ matrix.configuration }}
        path: bin/${{ matrix.configuration }}/
